body {
  width: 350px;
  height: 500px;
  font-family: Arial, sans-serif;
  padding: 15px;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  text-align: center;
}

#tasksContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 10px;
  height: 300px;
  width: 100%;
  overflow-y: auto;
  border-radius: 5px;
  background: #00D4FF;
  background: linear-gradient(180deg, rgba(0, 212, 255, 0.6) 15%, rgba(15, 15, 191, 0.6) 70%, rgba(4, 4, 128, 0.6) 100%);
}

#inProgress {
  text-align: center;
}

#completed {
  text-align: center;
}

button {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 14px 16px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

/* Forces the row to stretch edge-to-edge with a gap */
.button-row {
  display: flex;
  width: 100%; 
  gap: 3px;
  margin-top: 10px;
}

.non-action {
    flex: 7;
}

.action-col {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underBtn {
  margin-top: 2px;   /* Adds breathing room between the buttons and the text */
  font-size: 12px;    /* Makes it slightly smaller than standard text */
  color: #666666;     /* Gives it a subtle gray color */
  font-style: italic; /* Optional: adds a nice stylistic touch */
}

button:hover {
  background-color: #0056b3;
}

.algorithm-display {
  text-align: center;
  font-size: 12px;
}